body {
    background-color: gray;
}

h1 {
    text-align: center;
}



table {
    margin: auto;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 30px;
}

.row-label {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.row-label > textarea {
    border: none;
    background-color: inherit;
    resize: none;
    overflow: hidden;
    min-height: 10px;
    max-height: 300px;
    text-align: center;
}

.row-items {
    background-color: rgb(68, 68, 68);
}

.row-options {
    background-color: black;
}




#create-item-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





#add-items-section{
    text-align: center;
}

#all-list-items{
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.list-item{
    height: 100px;
    width: 100px;
}