/*
Doc Wide CSS
*/
:root {
    --list-item-height: 100px;
}
body {
    background-color: gray;
}
h1 {
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/*
Tier list relevant CSS
*/
table {
    margin: auto;
}
table, tr, td {
    height: 100%;
    border-collapse: collapse;
}
tr {
    /* NTS: The row height should be list-item-height + row border*/
    height: calc(var(--list-item-height) + 2px);
    border: 2px solid black;
}
td {
    padding: 30px;
}

.row-label {
    overflow: clip;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid black;
}
.row-label > textarea {
    resize: none;
    overflow: hidden;
    border: none;
    min-height: 10px;
    text-align: center;
    background-color: inherit;
}
.row-items {
    display: flex;
    min-width: 600px;
    height: 100%;
    padding: 0;
    background-color: rgb(68, 68, 68);
    border-right: 2px solid black;
}
.row-options {
    background-color: black;
}

/*
Modal relevant CSS
*/
#create-item-modal {
    position: fixed;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#row-options-modal {
    position: fixed;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
}
#modal-close-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}
#modal-close-button:hover,
#modal-close-button:focus {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/*
List items relevant CSS
*/

#unlisted-list-items{
    min-height: var(--list-item-height);
    display: flex;
    background-color: rgb(68, 68, 68);
}
#garbage-section{
    font-size: 24px;
    height: 100px;
    width: 300px;
    background-color: #ce8c55;
}
#add-items-section{
    text-align: center;
}
.list-item{
    height: var(--list-item-height);
    width: 100px;
    background-color: black;
    cursor: pointer;
}
.dragging{
    opacity: 0.6;
}