h1 {
    text-align: center;
}

table {
    margin: auto;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 30px;
}

#all-list-items{
    text-align: center;
}

#add-items-section{
    text-align: center;
}